{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-8">
            <h3>Welcome to brevard homebrew!</h3>
            <p>
                This is a homebrew club being started up in Brevard, North Carolina.
                <br><br>
                Right now- we don't have much going on. Bear with me as we get things spun up.
                <br><br>
                Interested in helping out or making beer in the mean time?
                contact Rob (<a href="mailto:rob.wise01@gmail.com">rob.wise01@gmail.com</a>).
            </p>
        </div>
    </div>

{% endblock content %}